/* reset */
*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}


/* caratteristiche comuni */
body{
    background-color: rgb(211, 211, 211);
}
/* /caratteristiche comuni */


.header{
    width: 100%;
    height: auto;
    background-color: white;
}

.titolo{
    display: inline-block;
    vertical-align: middle;

}

#logo{
    vertical-align: middle;
}