/* reset */
*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}


/* caratteristiche comuni */
body{
    background-color: rgb(211, 211, 211);
    font-size: 22px;
}
/* /caratteristiche comuni */

.container{
    width: 80%;
    margin-top: 40px;
    margin-bottom: 2px;
    padding: 10px 26px;
    /* debug */
    border: 2px olid rgb(255, 255, 0);
    background-color: white;
}

.container.main{
    margin-top: 0%;
    margin-bottom: 100px;
}

.header{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.titolo{
    display: inline-block;
    vertical-align: middle;

}

#logo{
    vertical-align: middle;
}



.button{
    font-size: 22px;
    padding: 12px 18px;
    border-radius: 5px;
    border: 0;
    
}

#task{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 161, 224);
}

#section{
    color: gray;
}

.base li{
    list-style: none;
}

.importante{
    font-size: 26px;
    font-weight: 800;
}

.spunta{
    display: inline-block;
    border: 1px solid gray;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    color: gray;
    font-size: small;
    
}

.spunta.negativa{
    border: 1px solid red;
    color: red;
}

.categoria{
    padding: 4px 8px;
    border-radius: 20px;
    color: white;
}

.categoria.editorial{
    background-color: rgb(0, 161, 224);
}

.categoria.goals{
    background-color: blue;
}

.categoria.recruiting{
    background-color: grey;
}

.categoria.mobile{
    background-color: green;
}

.categoria.website{
    background-color: rgb(239, 157, 171);
}

.categoria.sales{
    background-color: yellowgreen;
}